*.log
.DS_Store
._*
.env
build/
dist/
node_modules/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/App/App/build/
ios/App/DerivedData/
ios/App/Pods/
ios/App/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/capacitor-cordova-ios-plugins/
